#dependencies
node_modules/
package-lock.json

#environmental variables
config/config.env

#uploads
uploads/

#logs
*.log
logs/

#os files
.DS_Store
Thumbs.db

#IDE
.vscode/
.idea/

#testing
coverage/

